<!-- blog/snippets/comments.html -->

{% for comment in queryset %}

{% if user.is_authenticated or comment.approved_comment %}
<div class="card mb-3" style="max-width: 50rem;">
    <div class="card-body">
        {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="btn btn-primary">削除</span></a>
            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="btn btn-primary">公開</span></a>
        {% endif %}
    <h5>{{ comment.author }}</h5>
    <p class="user-name">@{{ comment.user }}</p>
    <p>{{ comment.text|linebreaks }}</p>
    <p><i class="fas fa-edit"></i> {{ comment.timestamp }}</p>
    </div>
</div>
{% endif %}
{% empty %}
<p>No comments here yet :(</p>

{% endfor %}

