{% load static %}

<ul class="pagination justify-content-center"> <!--{% if query %}&q={{ query }}{% endif %}検索挿入-->

    <li class="page-item"> 
        <a class="page-link" href="?p=1">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Top</span>
        </a>
    </li>
        
    {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?p={{ posts.previous_page_number }}">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
    {% endif %}
  
    
    {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
            <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?p={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}
  
    
    {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?p={{ posts.next_page_number }}">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
    {% endif %}

    <li class="page-item">
        <a class="page-link" href="?p={{ posts.paginator.num_pages }}">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
        </a>
    </li>
  </ul>
