{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">

    <li class="page-item"> 
        <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}" aria-label="Top">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Top</span>
          </a>
    </li>

    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
        <span aria-hidden="true">&lt;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item active">
      <a class="page-link">
        {{ num }}
        <span class="sr-only">(current)</span>
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
        <span aria-hidden="true">&gt;</span>
        <span class="sr-only">Next</span>
      </a>
      
    </li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" aria-label="Last">
          <span aria-hidden="true">&raquo;</span> 
          <span class="sr-only">last</span>
      </a>
    </li>

  </ul>
</nav>
{% endif %}
