{% load static %}

<!COCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}DeafOyaTalk{% endblock %}</title>

        <link rel = "icon" href="{% static 'css/ILY.ico' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">-->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <header class="py-4">
        <div class="container text-center">
            <h1><a href="/"><img src="{% static 'css/header_logo.png' %}" alt="DeafOyaTalk"></a></h1>
        </div>
    </header>

    <!--<div class="box2">
    <div class="box2-inner">
        <nav class="menu">
        <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a></li>
        <li><a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span></a></li>
        <li><p>Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p></li>    
        {% else %}
        <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-log-in">ユーザー登録</span></a></li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock">ログイン</span></a></li>
        {% endif %}
        <!--<h1><a href="/">Django Girls Blog</a></h1>
        <li><form class="form-inline my-2 my-lg-0" action="{% url 'search_result' %}" method="get" accept-charset="utf-8">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="検索...">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form></li>
        </ul>
        </nav>
    </div>
    </div>-->
    <main class="mb-5">
        {% include "blog/navbar.html" %}

        {% block content %}
        {% endblock %}

        <!--<div class="share">
        <ul>
        <li><a href="#" class="share-tw">
            <i class="fa fa-twitter"></i>
            <span>twitter</span>でシェア
        </a></li>
        <li><a href="#" class="share-fb">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span>でシェア
        </a></li>
        <li><a href="#" class="share-gp">
            <i class="fa fa-google-plus"></i>
            <span>Google</span>でシェア
        </a></li>
        </ul>
        </div>-->
    <!--</div>
   
    </div>-->
    </main>
    <!--フッター-->
    <footer class="footer py-4 bg-light text-dark">
    <div class="container text-center">
        <!--/ナビゲーション-->
        <span class="text-muted">Copyright &copy; 2019 DeafOyaTalk, All Rights Reserved. </span>
    </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>