<!-- templates/blog/navbar.html -->
<!--ナビゲーションバー-->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <!--<a class="navbar-brand" href="/">DeafOya blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
  
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <div class="container">
      <!--ブランド-->
      <a class="navbar-brand" href="/">DeafOyaTalk</a>
      <!--切り替えボタン-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expand="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--ナビゲーション-->
      <div class="collapse navbar-collapse" id="navbar-content">
      <!--ナビゲーションメニュー-->
      <!--左側メニュー：トップページの各コンテンツへのリンク-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">トップページ<span class="sr-only">(current)</span></a>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'post_new' %}">新規投稿</a>
        </li>
        <!--<li class="nav-item">
        <a class="nav-link" href="{% url 'post_draft_list' %}">編集</a>
        </li>-->
        <!--<p>Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'password_change' %}">パスワード変更</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
        </li>
        <!--<li class="nav-item">
        <a class="nav-link" href="#">( @{{ user.username }}ログイン中 )</a>
        </li>-->
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">ログイン</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">ユーザー登録</a>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_result' %}" method="get" accept-charset="utf-8">
          <input class="form-control mr-sm-2" type="search" name="q" value="{{ request.GET.q }}" placeholder="検索...">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    </div>
  </nav>