{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <main class="col-md-8">
        
{% if category %}
    <h2>カテゴリー：{{ category.title }}</h2>
{% endif %}
<br>
<p class="text-right">{{ posts.start_index }}-{{ posts.end_index }}件（{{ posts.paginator.count }}件）</p>

{% include "blog/snippets/pagination.html" %} 

{% for posts in posts %}
    <div class="card mb-3">
        <div class="card-body">
        <h2><a href="{% url 'post_detail' posts.id %}">{{ posts.title }}</a></h2>
        <h6 class="card-subtitle mb-2 text-muted">@{{ posts.user }}</h6>
        <p>{{ posts.views }}ビュー ({{ posts.approved_comments.count }}コメント)</p>
        <!--<p>{{ posts.text|linebreaksbr }}</p>-->
        <p><i class="fas fa-edit"></i> {{ posts.published_date }}</p>
        </div>
    </div>
{% endfor %}

{% include "blog/snippets/pagination.html" %}  

</main>
</div>
</div>

{% endblock %}