{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <main class="col-md-8">
    <div class="card mb-3" style="max-width: 50rem;">
    <div class="card-body">
        <h2>{{ post.title }}</h2>
        <h5 class="user-name">@{{ post.user }}</h5>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.image %}<!--画像挿入始まり-->
            <a href="{% url 'post_detail' post.pk %}"> <!--post.id -> post.pk-->
                <img src="{{ post.image.url }}" alt="{{ post.title }}" width="150" height="150">
            </a>
        {% endif %}<!--画像挿入終わり-->
        <br>
        <br>
        {% if post.published_date %}
            <div class="date">
                <i class="fas fa-edit"></i> {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">公開</a>
        {% endif %}
        {% if request.user == post.user %}
            <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">編集</span></a>
            <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove">削除</span></a>
        {% endif %}
    </div>
    </div>
        <hr>
        <h3 align="center">++  コメント一覧  ++</h3>
        
        <article class="comment-area">

            {% if user.is_authenticated %}
            <p><a class="btn btn-primary my-3" href="{% url 'add_comment_to_post' post.pk %}">コメントを投稿する</a></p>
            {% endif %}
            <p class="text-right">{{ queryset.start_index }}-{{ queryset.end_index }}件（{{ post.comments.count }}件）</p>
            {% include "blog/snippets/comment_pagination.html" %}
            
            {% include "blog/snippets/comments.html" %}

            {% include "blog/snippets/comment_pagination.html" %}
            
        </article>
    
        </main>
    </div>
</div>
{% endblock %}
                   